

.navbar-default {
    background-color: #0099e6;
    border-color: #e7e7e7;
}
.navbar-default .navbar-nav > li > a {
    color: #fcf8e3;
}
.nav > li {
    position: relative;
    display: block;
    height: 70px;
    padding-top: 10px;
}
.myfooter {
    background-color: #0099e6;
    padding-top: 5px;
    text-align: justify;
}
.myfooter a{
    color:white;
}
.myfooter p{
    color: white;
}
.myfooter h3, ul,p {
    margin-top:20px;
}
.subfooter {
    background-color: #1ab2ff;
    color: white;
    padding: 10px;
    text-align: center;
}
body {
    padding-top: 70px;
  
}
#searchName {
    width: 160px;
    border: 2px solid #CCC;
    border-radius: 5px;
    background-color: aliceblue;
    background-repeat:no-repeat;
    margin-top:10px;
    padding:5px 5px 5px 5px;
    transition:width 0.4s ease-in-out;
}
#searchName:focus {
    width:100%;
}
.img-size { 
    font-size:90px;
}
.navbar-user {
padding:10px;
/*padding-bottom:0px;*/
width:330px;
}
@media (min-width: 992px) {
    .col-md-3 {
        width: 23%;
    }
}
#clinicLogo {
    height: 50px;
    width: 50px;
    border-radius: 10px;
}
#bodyDiv {
    min-height: 600px;
}
/*start Login page*/
#loginForm {
    margin:50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 340px;
    /*height: 500px;*/
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .8);
}
    #loginForm h2 {
        margin: 0 0 0 20px;
        padding: 0;
        color: #0099e6;
        text-align: center;
    }
#loginForm p {
margin: 0;
padding: 0;
font-weight: bold;
color: #fff;
}

#loginForm input {
width: 100%;
margin-bottom: 20px;
}

#loginForm input[type="text"],
#loginForm input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    color: #fff;
    font-size: 16px;
    height: 40px;
}
    #loginForm input[type="submit"] {
        border: none;
        outline: none;
        color: #262626;
        background: #0099e6;
        cursor: pointer;
        border-radius: 20px;
        height: 35px;
        font-size: 16px;
    }
#loginForm input[type="submit"]:hover {
    color: #262626;
    background: #18749F;
}
#loginForm a {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
#loginForm a:hover {
    color: #0099e6;
}
.av {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);
}
.BackgroundPhoto {
    background-image: url('bg.jpg');
    background-size: cover;
}
/*End login page*/